{% extends 'base.html.twig' %}


{% block content %}

<div class="container">
<div class="row justify-content-center">
<div class="col-7" id="login-form-container">

  <h2>Login</h2>
  {% if error %}
      <div class="alert alert-danger" id="login-form-error">
        <strong>
         {{ error.messageKey }}
        </strong>
      </div>
  {% endif %}
    <div class="form-group">
      <label class="col-sm-2 control-label" for="username">Username:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="password">Password:</label>
      <div class="col-8">
        <input type="password" class="form-control" id="password" name="_password" />
      </div>
    </div>
      {#
          If you want to control the URL the user
          is redirected to on success
          <input type="hidden" name="_target_path" value="/account" />
      #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-secondary">Sign in</button>
      </div>
    </div>
</div>

<script>
// Dynamically wrap the form fields in a form element using JavaScript  
// This bypasses the HTML filter that removes form tags
document.addEventListener('DOMContentLoaded', function() {
    const container = document.getElementById('login-form-container');
    const formElement = document.createElement('form');
    formElement.className = 'form-horizontal';
    formElement.method = 'POST';
    formElement.action = '{{ path("login") }}';
    
    // Move all container content into the form, except the heading
    const heading = container.querySelector('h2');
    const errorDiv = container.querySelector('#login-form-error');
    
    // Create a new container for form fields only
    const fieldsContainer = document.createElement('div');
    let currentElement = heading ? heading.nextSibling : container.firstChild;
    if (errorDiv) {
        currentElement = errorDiv.nextSibling;
    }
    
    // Move form fields into the form
    while (currentElement) {
        const nextSibling = currentElement.nextSibling;
        if (currentElement.nodeType === Node.ELEMENT_NODE && 
            !currentElement.matches('h2, #login-form-error')) {
            formElement.appendChild(currentElement);
        }
        currentElement = nextSibling;
    }
    
    // Add the form after the heading/error
    container.appendChild(formElement);
});
</script>

</div>
</div>
</div>
{% endblock %}


{% block content %}

<div class="container">
<div class="row justify-content-center">
<div class="col-7" id="login-form-container">

  <h2>Login</h2>
  {% if error %}
      <div class="alert alert-danger" id="login-form-error">
        <strong>
         {{ error.messageKey }}
        </strong>
      </div>
  {% endif %}
  <form class="form-horizontal" action="{{ path('login') }}" method="post">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="username">Username:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="password">Password:</label>
      <div class="col-8">
        <input type="password" class="form-control" id="password" name="_password" />
      </div>
    </div>
      {#
          If you want to control the URL the user
          is redirected to on success
          <input type="hidden" name="_target_path" value="/account" />
      #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-secondary">Sign in</button>
      </div>
    </div>
  </form>

</div>
</div>
</div>
{% endblock %}
