{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site_description  }}">
        {% block page_title %}
        <title>{{ site_name }}</title>
        {% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      

        {# placeholder blocks for page-specific elements #}
        {% block page_stylesheets %}
        {% endblock %}

        {# if you use something like Google Analytics, put it in ./institution/analytics.html.twig and we'll include it here #}
        {% include ['institution/analytics.html.twig', 'analytics.html.twig'] ignore missing %}

       {# placeholder block for JSON-LD output #}
       {% block JSONLD_output %}

<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "DataCatalog",
"name": "{{ site_name }}",
"keywords":"science, dataset, research, data, data catalog",
"url": "{{ site_base_url }}",
"provider": {
  "@type":"Organization",
  "name":"{{ site_provider_name }}",
  "url":"{{ site_provider_url }}",
  "parentOrganization": {
    "@type":"Organization",
    "name": "{{ institution_name }}",
    "address":"{{ institution_address }}",
    "url":"{{ institution_url }}"
   }
 }
}
 </script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "WebSite",
"name": "{{ site_name }}",
"description":"{{ site_description }}",
"url": "{{ site_base_url }}",
"keywords":"science, dataset, research, data, data catalog",
"potentialAction": {
"@type": "SearchAction",
"target": "{{ site_base_url }}/search?keyword={search_term_string}",
"query-input": "required name=search_term_string"
}
}
</script>
       {% endblock %}

       {% block results_JSONLD_output %}
       {% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </head>
<body>
  <div class="container-fluid">
      <a href="#maincontent" class="skip">Skip to content</a>
      <div class="page-wrapper">
      <header id="page-header">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6 logo-container">
        {# tell us where your site's logo lives in 'institution/logo.html.twig' #}
        {% include ['institution/applogo.html.twig','logo.html.twig'] ignore missing %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="d-flex flex-sm-column justify-content-between">
            <div class="global-links-flex-1">
              <nav class="nav-links navbar navbar-expand-sm navbar-dark bg-primary float-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="collapsingNavbarXs">
                  <ul class="navbar-nav">
                    <li class="nav-item home-nav-link"><a class="nav-link {{ (route_name == 'homepage') ? 'active' }}" href="/">Home</a></li>
                    <li class="nav-item about-nav-link"><a class="nav-link {{ (route_name == 'about') ? 'active'}}" href="{{ path('about') }}">About</a></li>
                    <li class="nav-item contact-page-link"><a class="nav-link {{ (route_name == 'contact') ? 'active'}}" href="{{ path('contact') }}">Contact Us</a></li>
                    {% if not is_granted('ROLE_USER') %}<li class="chat-link" id="libchat_3076b2dec6dcb63e8f19fa62ee5d1115"></li>{% endif %}
                    {% if is_granted('ROLE_USER') %}
                      <li class="nav-item privileged-nav-link admin-page-link"><a class="nav-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}" href="{{ path('admin_panel') }}">Admin</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                      <li class="nav-item privileged-nav-link"><a class="nav-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}" href="{{ path('app_logout') }}">Logout</a></li>
                    {% endif %}

                  </ul>
                </div>{# end navbar collapse div #}
              </nav>
          </div>
          <div class="msk-branding-flex-2">
            {% include ['institution/msklogo.html.twig','logo.html.twig'] ignore missing %}
          </div><!-- closesomething 2 -->
        </div><!--End flex columns -->
        </div>
      </header>  
      <div id="search-header">
        <div class="row">
          <div class="col-xl-7 offset-xl-4 col-lg-6 offset-lg-4 col-md-7 offset-md-3 col-sm-9">
          {# <div class="mx-auto"> #}

            <form id="keyword-search-form" class="input-group">
                <label for="keyword-search-input">search terms</label>
                <input type="text" id="keyword-search-input" class="form-control" placeholder="Find datasets used in research at MSK">
                <span class="input-group-btn">
                  <button id="keyword-search-submit" class="btn btn-light" type="submit">Go!</button>
                </span>
              <!-- Trigger the modal with a link -->
              <span class="search-tips-link">
            	  <a data-toggle="modal"role="button" href="#searchTips" style="color: white"><i class="fas fa-info-circle"></i> Search Tips</a>
              </span>
            </form>

            
            <!-- Modal -->
            <div class="modal fade" id="searchTips" role="dialog" tabindex="-1" aria-labelledby="searchTipsLabel" aria-hidden="true">
                <div class="modal-dialog">
    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Search Tips</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p>
                        <ul>
    	                <li><b>Default Boolean Operator:</b> Terms in a search string will be connected by the <b>AND</b> operator, EXAMPLE: searching <b>genomic melanoma</b> will produce the <b>same results as genomic AND melanoma</b>. </li> &nbsp;

		                <li><b>AND, OR, NOT:</b> Combine terms in a search with the boolean operators <b>AND</b> (to add specificity), <b>OR</b> (to broaden), or <b>NOT</b> (to eliminate a term). Operators must be capitalized (all other search terms are not case-sensitive).</li> &nbsp;

		                <li><b>Wild Card:</b> Add wild card symbols <b>*</b> (open-ended) and <b>?</b> (single character) to truncate terms. EXAMPLE: searching <b>gen*</b> shows results for 'gene', 'genetic', 'genomic, etc. Searching <b>gene?</b> returns results for 'gene' or 'genes' but not for 'genome'. </li> &nbsp;

		                <li><b>Phrase Searching:</b> Enclose search in quotation marks <b>"keyword or search term"</b> to search for an exact phrase. EXAMPLE: <b>"transcription factors"</b> returns results for records where <b>transcription</b> is immediately followed by the word <b>factors</b>. </li> &nbsp;

		                <li><b>Diacritics:</b> Words containing diacritics translate those characters to non-diacritic form. EXAMPLE: <b>massague</b> returns results for <b>Massague&#769</b>. </li> &nbsp;

		                <li><b>Filter by:</b> Located on the homepage (left panel), use filters to search for records or narrow the search. From search results page, filters can be removed by clicking on the term at the top of the page. </li> &nbsp;
		        </ul>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
              <button id="feedback" class="btn btn-warning float-right float-sm-none" onclick="window.open('https://www.surveymonkey.com/r/dataset_feedback','popup','width=600,height=600','centerscreen'); return false;"type="button">Feedback</button>
          </div>
        </div><!-- /.row -->
      </div> 
      <div id="maincontent" class="content-container">

      {% block content %}{% endblock %}

      {# placeholder block for page-specific scripts #}
      {% block page_scripts %}
      {% endblock %}
      </div>
      <div class="push"></div>
    </div>
      <footer class="bg-secondary">

        {# Use the file 'institution/footer.html.twig' for your institution-specific footer content #}
        {% include ['institution/footer.html.twig','footer.html.twig'] ignore missing %}

      </footer>
      </div> <!-- container-fluid -->
  </body>
</html>
