{% set route_name = app.request.attributes.get('_route') %}
{% if show_template_names is defined and show_template_names %}<!-- BEGIN: base.html.twig -->{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site_description }}" />
    {% block page_title %}
      <title>{{ site_name }}</title>
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />

    {# placeholder blocks for page-specific elements #}
    {% block page_stylesheets %}

    {% endblock %}

    {# if you use something like Google Analytics, put it in ./institution/analytics.html.twig and we'll include it here #}
    {% include ['institution/analytics.html.twig', 'analytics.html.twig'] %}

    {# placeholder block for JSON-LD output #}
    {% block JSONLD_output %}
      <script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "DataCatalog",
"name": "{{ site_name }}",
"keywords":"science, dataset, research, data, data catalog",
"url": "{{ site_base_url }}",
"provider": {
  "@type":"Organization",
  "name":"{{ site_provider_name }}",
  "url":"{{ site_provider_url }}",
  "parentOrganization": {
    "@type":"Organization",
    "name": "{{ institution_name }}",
    "address":"{{ institution_address }}",
    "url":"{{ institution_url }}"
   }
 }
}
 </script>
      <script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "WebSite",
"name": "{{ site_name }}",
"description":"{{ site_description }}",
"url": "{{ site_base_url }}",
"keywords":"science, dataset, research, data, data catalog",
"potentialAction": {
"@type": "SearchAction",
"target": "{{ site_base_url }}/search?keyword={search_term_string}",
"query-input": "required name=search_term_string"
}
}
</script>
    {% endblock %}

    {% block results_JSONLD_output %}

    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe sandbox="allow-same-origin allow-scripts" src="https://www.googletagmanager.com/ns.html?id=GTM-TLXCGKK"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <main class="container-fluid">
      <a href="#maincontent" class="skip">Skip to content</a>
      <div class="page-wrapper">
      <div id="header" class="site-header">
    <div class="container-lg brand-nav-container">
      <div class="navbar justify-content-around justify-content-lg-between navbar-expand-lg bg-white msk-top-navbar">
        <div class="navbar-brand d-flex flex-column flex-wrap flex-md-row flex-md-nowrap align-items-center">
          <img class="header-logo me-4" alt="Memorial Sloan Kettering Cancer Center Logo" target="_blank" src="{{ asset('img/msk-logo.svg') }}">
          <a href="https://library.mskcc.org" target="_blank" class="site-title" >
            <div class="navbar-brand__text">
                <span class="msk-site-navigation__logo-subtitle mt-4 mb-4 mt-md-0 mb-md-0">Library & Archives</span>
            </div>
          </a>
        </div>

      <div class="header-global-nav">
<ul id="global-nav" class="nav msk-global-nav align-items-md-center">
  <li class="nav-item">
    <a href="https://mskcc.libanswers.com" id="libchat_8403b9d38f84123c0b0cf39dd565e719c114529150410740433530c2ea22916f" target="_blank" class="mskchaticon nav-link msk-site-navigation__primary-link my-0 mx-0 my-lg-o mx-lg-2" data-uw-rm-brl="PR" data-uw-original-href="https://mskcc.libanswers.com" aria-label="Chat - open in a new tab" data-uw-rm-ext-link="" uw-rm-external-link-id="https://mskcc.libanswers.com/$chat"><button class="libchat_online">Chat</button></a>
  </li>
  <li class="nav-item">
    <a href="https://mskcc.libanswers.com/" target="_blank" class="mskhelpicon nav-link msk-site-navigation__primary-link my-0 mx-0 my-lg-o mx-lg-2">Help</a>
  </li>
  <li class="nav-item">
    <a href="/contact" class="mskemailicon nav-link msk-site-navigation__primary-link my-0 mx-0 my-lg-o mx-lg-2">Contact</a>
  </li>
    <li class="nav-item">
    <a href="/about" class="mskinfoicon nav-link msk-site-navigation__primary-link my-0 mx-0 my-lg-o mx-lg-2">About</a>
  </li>
</ul>
      </div>
    </div>
        <nav id="library_navigation" class="navbar navbar-expand-md" aria-label="Library navigation">
  <div class="flex-fill justify-content-between">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#library-nav-wrap" aria-controls="library-nav-wrap" aria-expanded="false" aria-label="Toggle Library navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="library-nav-wrap" class="collapse navbar-collapse">
      <ul id="library-navigation" class="d-flex flex-md-row justify-content-between w-100">
        <li class="library-nav-item">
          <a href="https://library.mskcc.org/find-request" target="_blank" rel="noopener">
            Find & Request
          </a>
        </li>
        <li class="library-nav-item">
          <a href="https://library.mskcc.org/research-authorship" target="_blank" rel="noopener">
            Research & Authorship  
          </a>
        </li>
        <li class="library-nav-item">
          <a href="https://library.mskcc.org/classes-guides" target="_blank" rel="noopener">
            Classes & Guides
          </a>
        </li>
        <li class="library-nav-item">
          <a href="https://library.mskcc.org/about-us" target="_blank" rel="noopener">
            About Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    </div>
  </div>

<div class="title-hero-banner">
  <div class="title-hero-text container-lg ps-5 ps-lg-4">
     <h3><a href="/">MSK Data Catalog</a></h3>
    <h4>Discover. Share. Reuse.</h4>
  </div>
</div>

<div class="app-menu-container">
  <div class="container-lg">
    <nav id="site_navigation" class="navbar navbar-expand-md">
      <div class="flex-fill justify-content-between">
        <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#app-nav-wrap" aria-controls="app-nav-wrap" aria-expanded="false" aria-label="Toggle Data Catalog navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav role="navigation" aria-label="Data Catalog navigation">
  <div id="app-nav-wrap" class="collapse navbar-collapse show">
    <ul id="navigation" class="d-flex flex-column flex-md-row justify-content-between w-100">
      <li class="nav-item">
        <a href="{{ path('homepage') }}" class="nav-link {% if route_name == 'homepage' %}active{% endif %}">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ path('about') }}" class="nav-link {% if route_name == 'about' %}active{% endif %}">About</a>
      </li>
      <li class="nav-item">
        <a href="{{ path('contact') }}" class="nav-link {% if route_name == 'contact' %}active{% endif %}">Contact Us</a>
      </li>
              <li id="search-box" style="margin-right: 24px;">
        <form id="search-form" class="search-form" accept-charset="UTF-8" aria-label="Search" >
          <input id="search-input" type="search" name="q" size="21" class="app_search_box" placeholder="Search">
            <button type="submit" class="search-button">
      <svg focusable="false" enable-background="new 0 0 20 20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Search" class="coveo-search-button-svg">
        <title>Search</title>
        <g fill="currentColor">
          <path class="coveo-magnifier-circle-svg" d="m8.368 16.736c-4.614 0-8.368-3.754-8.368-8.368s3.754-8.368 8.368-8.368 8.368 3.754 8.368 8.368-3.754 8.368-8.368 8.368m0-14.161c-3.195 0-5.793 2.599-5.793 5.793s2.599 5.793 5.793 5.793 5.793-2.599 5.793-5.793-2.599-5.793-5.793-5.793"></path>
          <path d="m18.713 20c-.329 0-.659-.126-.91-.377l-4.552-4.551c-.503-.503-.503-1.318 0-1.82.503-.503 1.318-.503 1.82 0l4.552 4.551c.503.503.503 1.318 0 1.82-.252.251-.581.377-.91.377"></path>
        </g>
      </svg>
    </button>
      </li>
      {% if is_granted('ROLE_USER') %}
          <li class="nav-item privileged-nav-link admin-page-link"><a class="nav-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}" href="{{ path('admin_panel') }}">Admin</a></li>
      {% endif %}
      {% if is_granted('ROLE_USER') %}
          <li class="nav-item privileged-nav-link"><a class="nav-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}" href="{{ path('app_logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
      </div>
    </nav>
  </div>
</div>
  
        {# <div class="container d-flex justify-content-center align-items-center mt-5">
          <form id="keyword-search-form" class="form-inline d-flex justify-content-centermy-2 my-lg-0">
            <input id="keyword-search-input" class="form-control mr-sm-2" type="search" placeholder="Find datasets used in research at MSK " aria-label="Search" />
            <button class="btn btn-primary" type="submit">Search</button>
            <span class="search-tips-link"><a data-bs-toggle="modal" role="button" href="#searchTips"><i class="fas fa-info-circle search-help-circle"></i></a></span>
          </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="searchTips" role="dialog" tabindex="-1" aria-labelledby="searchTipsLabel" aria-hidden="true">
          <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Search Tips</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <ul>
                    <li>
                      <b>Default Boolean Operator:</b> Terms in a search string will be connected by the <b>AND</b> operator, EXAMPLE: searching <b>genomic melanoma</b> will produce the <b>same results as genomic AND melanoma</b>.
                    </li><li>
                      <b>AND, OR, NOT:</b> Combine terms in a search with the boolean operators <b>AND</b> (to add specificity), <b>OR</b> (to broaden), or <b>NOT</b> (to eliminate a term). Operators must be capitalized (all other search terms are not case-sensitive).
                    </li><li>
                      <b>Wild Card:</b> Add wild card symbols <b>*</b> (open-ended) and <b>?</b> (single character) to truncate terms. EXAMPLE: searching <b>gen*</b> shows results for 'gene', 'genetic', 'genomic, etc. Searching <b>gene?</b> returns results for 'gene' or 'genes' but not for 'genome'.
                    </li;<li>
                      <b>Phrase Searching:</b> Enclose search in quotation marks <b>"keyword or search term"</b> to search for an exact phrase. EXAMPLE: <b>"transcription factors"</b> returns results for records where <b>transcription</b> is immediately followed by the word <b>factors</b>.
                    </li><li>
                      <b>Diacritics:</b> Words containing diacritics translate those characters to non-diacritic form. EXAMPLE: <b>massague</b> returns results for <b>Massague&#769</b>.
                    </li><li>
                      <b>Filter by:</b> Located on the homepage (left panel), use filters to search for records or narrow the search. From search results page, filters can be removed by clicking on the term at the top of the page.
                    </li>
                  </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> #}
        <div id="maincontent" class="content-container">
          {% block content %}

          {% endblock %}

          {# placeholder block for page-specific scripts #}
          {% block page_scripts %}

          {% endblock %}
        </div>
        <div class="push"></div>
      </div>
      <footer class="page__footer">
        {# Use the file 'institution/footer.html.twig' for your institution-specific footer content #}
        {% include ['institution/footer.html.twig', 'footer.html.twig'] %}
      </footer>
    </main> <!-- container-fluid -->
  </body>
</html>
{% if show_template_names is defined and show_template_names %}<!-- END: base.html.twig -->{% endif %}
